body{
    font-family: Calibri;
}

.half-portion{
    width: 50%;
    padding-left: 5%;
}

.flexy-items{
    display:flex;
}

.orange-button{
    text-decoration: none;
    background-color:tomato;
    padding: 10px 35px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.banner{
    margin-top:5% ;
}

.banner-left{
    margin-left: 3%;
}

.banner-header{
    font-family: 'DM Serif Display', serif;
    border-left: 4px solid;
    border-color:salmon;
    border-image-slice: 1;

}

.banner-header h1{
    padding-left: 1.5%;
    line-height: 75%;
    font-size: 60px;
    font-weight: 500;
}

.banner-para p{
    width: 70%;
    margin-bottom: 5%;
}

.fancy-letter{
    color: orange;
}

.banner-image img{
    height: 80%;
}

.mission{
    margin-bottom: 5% ;
}

.mission h1{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

.mission-container{
    display:flex;
    margin-left: 5%;
    margin-right: 5%;
}

.mission-box{
    padding: 0 3%;
    border-radius: 20px;
    margin: 0 1%;
}

.mission-box img{
    width: 30%;
    padding-top: 5%;
}

.mbox1{
    background-color: lightcyan;   
}

.mbox2{
    background-color: rgb(250, 232, 234);   
}

.mbox3{
    background-color: rgb(243, 215, 215);   
}

.mid-container{

    margin:5%;
    width: 80%;
    padding:5%;
}

.mid-container img{
    width: 35%;
    /* padding: 8%; */
}

.mid-container-items{
    /* padding: 5%; */
    width: 65%;
    margin-top: 2%;
}

.mid-container h3{
    font-size: 50px;
    font-weight: 900;
    margin: 0px;
    
}

.mid-container p{
    margin-bottom: 5%;
        font-size: 20px;
    font-weight: 500;
}

.mid-container span{
    width: 10%;
}

.circle-img{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size:  15% 35%   ; 

}

.c1{
    background-position-x: 0;
    background-position-y: 30%;
}

.c2{
    background-position-x: 100%;
    background-position-y: 100%;
}